<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        background-color: gray;
        min-height: 100vh;
        overflow-y: auto;
    }

    h1 {
        text-align: center;
        color: goldenrod;
        text-shadow: 2px 2px;
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 2px solid black;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .btn {
        background-color: blanchedalmond;
        height: 40px;
        width: 100px;
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 5px;
    }

    .btn:hover {
        background-color: white;
    }

    button:focus {
        outline: none;
    }

    .message {
        text-align: center;
        font-size: 5vw;
        color: goldenrod;
        margin-top: 2vw;
    }
</style>
<body>
    <div class="container">
    <h1>My Data</h1>
        <hr>
        <button class="btn" style="margin:2vw 2vw 2vw 2vw"><a href="/">Add+</a></button>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <th scope="row"><%= user._id %></th>
                        <td class="name"><%= user.username  %></td>
                        <td class="name"><%= user.email  %></td>
                        <td class="name"><%= user.password  %></td>
                        <td>
                            <span>
                                <button type="submit" class="btn"><a href="/edit/<%=  user._id%>">Edit</a></button>
                                <button type="submit" class="btn"><a href="/del/<%=  user._id %>">Delete</a></button>
                            </span>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

    </div>
</body>
</html>
